/* Global Styles */
*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body, p, h1, h2, h3, h4, h5, h6, 
a, div, section, ul, li, label, input, fieldset, 
form,legend{
    margin: 0;
    padding: 0;
}

body{
    background: snow; 
}

li{
    list-style: none;
}

.app-button{
    background: salmon;
    border: none;
    color: white;
    box-shadow: 3px 3px 3px silver;
    padding: 10px;
    font-size: 0.8em;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}
.app-button:hover{
    background: crimson;
    transition: background .2s ease-in;
}

/* Vertically Center Aligning the Main Container which 
will hold all the pages for the app  */
html, body{
    height: 100%;
}

.container{
    margin:auto;
    width:90%;
    height: 100%;
    min-height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.quiz-intro-page, 
.quiz-question-page, 
.quiz-answer-page,
.quiz-result-page{
    /* border: 2px solid salmon; */
    padding: 20px;
}

/* Style for the home page */
.heading{
    border-bottom: 2px solid salmon;
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.instruction-title{
    text-transform: uppercase;
}

.instructions{
    text-align: left;
    font-size: 0.8em;
}
.instruction-title{
    margin-bottom: 10px;
}
.instruction-list li{
    padding-left: 0.8em;
    text-indent: -0.8em;
    padding-bottom: 0.5em;
    line-height: 1.4em;
}
.instruction-list li::before{
    content: '-';
    padding-right: 0.4em;
}
.instruction-list{
    margin-bottom: 20px;
}

/* Styling Question Page */
.quiz-question-page{
    display: none;
}
.question-page-header{
    color: salmon;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 2px solid salmon;
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 600;
    letter-spacing: 0.2em;
}
.question{
    padding: 20px 0px;
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 600;
}
.question-image img{
    max-width: 100%;
    margin-bottom: 20px;
    box-shadow: 0px 0px 4px 2px silver;
    border-radius: 5px;
}
.options fieldset{
    border: none;
}
.option{
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
    padding: 10px;
    border: 1px solid salmon;
    margin-bottom: 10px;
    font-size: 0.8em;
}
.option input{
    margin-right: 10px;
}
.selected{
    background: seagreen;
    border: 1px solid seagreen;
    color:white;
}
.submit-answer{
    margin-top: 20px;
}
/* Radio Button Styling */
.option input[type="radio"]{
    padding: 0;
    margin: 0 10px 0px 0px;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    height: 12px;
    flex: 0 0 12px;
    border: 2px solid silver;
    border-radius: 50%;
}
.option input[type="radio"]:checked{
    border-color: snow;
    background: snow;
    transition: background .3s ease-in-out;
}
.option input[type="radio"]:hover{
    border-color: snow;
}

/* Quiz Answer Page Styling */
.quiz-answer-page{
    display: none;
}
.answer-heading{
    border-bottom: 2px solid salmon;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.quiz-answer-page .question-image{
    margin-top: 40px;
}
.answer{
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: .8em;
    font-weight: 600;
}
h2.correct{
    border-bottom: 2px solid seagreen;
}
h2.incorrect{
    border-bottom: 2px solid crimson;
}
.correct{
    color: seagreen;
}
.incorrect{
    color: crimson;
}

/* Quiz Result Page Styling */
.quiz-result-page{
    display: none;
}
.result-header{
    border-bottom: 2px solid salmon;
    text-transform: uppercase;
    padding-bottom: 20px;
}
.result{
    margin: 30px auto;
    border: 2px solid salmon;
    border-radius: 50%;
    width: 225px;
    height: 225px;
}
.result p{
    padding: 40px;
    font-size: 1.5em;
}
.score{
    border-bottom: 2px solid salmon;
}
.result-caption{
    text-transform: uppercase;
    padding: 20px;
    font-weight: 600;
}

/* When the viewport goes more than 600px
the question image will not increase its width 
more than 500px, which will avoid the top of the 
question to get stuck outside the viewport, when 
the page is viewed on landscape mode on mobiles */
@media only screen and (min-width: 600px){
    .question-image img{
        max-width: 500px;
    }
}

/* Tablets */
@media only screen and (min-width: 768px){
    .container{
        margin: auto;
        width: 80%;
    }
}

/* Larger Screens */
@media only screen and (min-width: 1024px){
    .container{
        margin: auto;
        width: 50%;
        max-width: 700px;
    }
    .option:hover, .selected:hover{
        cursor: pointer;
        background: salmon;
        border: 1px solid salmon;
        color: white;
    }
}